{%- assign a = include.item -%}
{%- assign _tm = site.data.textes[page.lang] | default: site.data.textes.fr -%}
{%- assign rubrique = site.data.rubriques | where: "id", a.rubrique | first -%}
{%- assign format = site.data.formats | where: "id", a.format | first -%}
{%- assign theme = site.data.themes | where: "id", a.theme | first -%}
{%- assign mots = a.content | strip_html | number_of_words -%}
{%- assign minutes = mots | divided_by: 200 | plus: 1 -%}
{%- if rubrique %}{% include tr.html o=rubrique k="nom" %} · {% elsif theme %}{% include tr.html o=theme k="nom" %} · {% endif %}{% if format %}{% include tr.html o=format k="nom" %} · {% endif %}{% include date-fr.html date=a.date %} · {{ minutes }} {{ _tm.commun.min_lecture }}
