{%- comment -%}
  Date dans la langue de la page. Usage : {% include date-fr.html date=page.date %}
  Ajoute format="mois" pour n'afficher que « novembre 2026 ».
{%- endcomment -%}
{%- assign _t = site.data.textes[page.lang] | default: site.data.textes.fr -%}
{%- assign _mois = _t.commun.mois | split: "," -%}
{%- assign m = include.date | date: "%-m" | minus: 1 -%}
{%- assign j = include.date | date: "%-d" -%}
{%- if include.format == "mois" -%}
{{ _mois[m] }} {{ include.date | date: "%Y" }}
{%- elsif page.lang == "en" -%}
{{ j }} {{ _mois[m] }} {{ include.date | date: "%Y" }}
{%- elsif page.lang == "de" -%}
{{ j }}. {{ _mois[m] }} {{ include.date | date: "%Y" }}
{%- else -%}
{%- if j == "1" -%}{{ _t.commun.premier_du_mois }}{%- else -%}{{ j }}{%- endif %} {{ _mois[m] }} {{ include.date | date: "%Y" }}
{%- endif -%}
