{%- assign t = site.data.textes[page.lang] | default: site.data.textes.fr -%}
{%- assign p = page.prefixe | default: "" -%}
<div class="page-head">
  <p class="label">{{ t.erreur.label }}</p>
  <h1>{{ t.erreur.titre }}</h1>
  <p class="intro">{{ t.erreur.intro }}</p>
  <div class="actions">
    <a class="btn primary" href="{{ p | append: '/interviews/' | relative_url }}">{{ t.commun.voir_interviews }}</a>
    <a class="btn" href="{{ p | append: '/' | relative_url }}">{{ t.commun.retour_accueil }}</a>
  </div>
</div>
